:root {
	color-scheme: dark;

    --background: #060606;
    --color: #fff;
	--primary: #6374ce;

	--transition-type: ease-in-out;
	--transition-duration: .15s;

	--layout-width: 50rem;
}

*, *::after, *::before {
    font-family: 'Fira Mono';
    font-size: 16px;
    /* user-select: none; */
    /* -webkit-user-select: none; */
}

body {
    margin: 0;
    background: var(--background);
    color: var(--color);
	line-height: 2.5ch;
	overflow-y: scroll;
}

a {
	color: var(--primary);
	text-decoration: none;
	border-bottom: 1px solid #222;
	transition: all var(--transition-duration) var(--transition-type);

	&:hover {
		border-bottom-width: .5ch;
	}
}

@media (prefers-reduced-motion) {
	a {
		transition: none;
	}
}
